[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
attrs = "*"
daiquiri = "*"
requests = "*"
thoth-common = "*"
thoth-analyzer = "*"
prometheus-client = "*"
pip = "*"
toml = "*"
kubernetes = "~=11.0.0"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
