[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
attrs = "*"
daiquiri = "*"
requests = "*"
thoth-common = "*"


[dev-packages]

pytest = ">=3"
pytest-timeout = "*"
pytest-cov = "*"
pydocstyle = "*"
pylint = "*"
